.cardbox {
  background: #2e2e35;
  height: 18%; 
  width: 100%; 
  position: relative;
  z-index: 0;
  display: flex; 
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  
}

.cardbox .card {
  height: 70%; 
  width: 50%; 
  background-color: #E8DCD0;
  margin: 2%; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-weight: bold;
  color: #2e2e35;
  display: flex;
  flex-direction: column; /* Располагает элементы в столбец */
}

.card .top {
  height: 50%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row; /* Переключаем на столбец */
  background-color: #E8DCD0;
}

.top .icon_card {
  margin-top: 6%;
  margin-left: 6%;
}

.top h1 {
  
  font-size: 2.2vw; /* Относительный размер шрифта */
  color: #2e2e35; 
  margin-top: 10%;
  margin-left: 6%;
  font-family: 'anonymousprobold', sans-serif; 

}



.card .bot {
  height: 50%; 
  position: relative; 
}

.bot h1 {
  
  font-size: 3vw; /* Относительный размер шрифта */
  color: #2e2e35; 
  font-family: 'intro', sans-serif; 
  display: flex; 
  padding-top: 4%;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
}





