
/* Контейнер для карточек */
.cardbox {
  background: #2e2e35;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 15px;

}

.cardbox__container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  max-width: 1100px;
  width: 100%;
  
}

/* Стили для карточек */
/* Карточка */
.card {
  background: #E8DCD0;
  flex: 1 1 calc(33.333% - 20px);
  max-width: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card__top1 {
  
  background: #E8DCD0;
  color: #2e2e35;
  padding: 20px;
  font-size: 1.7rem;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 30px; 
  font-weight: bold;
}
/* Верхняя часть карточки */
.card__top {
  background: #E8DCD0;
  color: #2e2e35;
  padding: 20px;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 10px; 
}

/* Иконка в блоке .iconshveya */
.card__top .iconshveya img {
  width: auto; 
  height: auto; 
  object-fit: contain; 
}

.card__top1 .iconshveya img {
  width: auto; 
  max-height: 400px; 
  object-fit: contain; 
}

.card__top1 h1 {
  font-family: 'anonymousprobold', sans-serif; 
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center; 
  font-weight: bold;
}

/* Заголовок */
.card__top h1 {
  font-family: 'anonymousprobold', sans-serif; 
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center; 
  font-weight: bold;
}

/* Нижняя часть карточки */
.card__bottom {
  font-family: 'intro', sans-serif;
  padding: 15px;
  font-size: 3.2vh;
  color: #2e2e35;
  text-align: center;
}

/* Адаптивный стиль */
@media (max-width: 901px) {
  .cardbox__container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: 1 1 100%;
    max-width: 300px;
  }
}

