{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Майстер-класи</title>

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'Main_page/info_css/info.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/home_css/header.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/info_css/infobox.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/home_css/cardbox.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/home_css/conbox.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/home_css/basement.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/home_css/home.css' %}">
    <link rel="stylesheet" href="{% static 'Main_page/info_css/menu.css' %}">

    <!-- Подключение JS -->
    <script defer src="{% static 'Main_page/home_js/menu.js' %}"></script>
    <script defer src="{% static 'Main_page/info_js/menu.js' %}"></script>
</head>

<body>
    <!-- Верхний блок -->
    <div class="wrapper">

        <button id="menuButton" class="menu-button">

        </button>

        <!-- Выпадающее меню -->
        <div id="menu" class="dropdown-menu">
            <span id="closeButton" class="close-menu">&times;</span>
            <textarea id="messageText" class="text-box" placeholder="Введіть повідомлення..."></textarea>
            <button id="sendButton" class="send-button">Відправити</button>
        </div>
        <header class="header">
            <div class="header__container">
                <div class="left">
                    <a href="{% url 'show_home' %}">
                        <div class="logo_shveya"><img src="{% static 'Main_page/images/logo.png' %}" alt="logo"></div>
                    </a>
                </div>
                <button class="icon-menu"><span></span></button>
                <div class="right _menu">
                    <nav class="menu">
                        <a href="{% url 'show_home' %}" class="{% if request.path == '/' %}active{% endif %}">Головна
                            сторінка</a>
                    </nav>
                </div>
            </div>

        </header>

        <div class="infobox">
            <div class="infobox__container">

                <div class="line2">

                </div>

                <div class="center">
                    <h1>Майстер клас пошивки</h1>

                </div>

                <div class="line1">

                </div>

            </div>

        </div>

        <!-- Контент -->
        <div class="content">
            <!-- Левая колонка -->
            <aside class="PRM">

                <h2>Кіберодяг</h2>
                <ul>
                    <li>Кіберштани</li>
                </ul>
                <h2>Бронеодяг</h2>
                <ul>
                    <li>Бронефутболки </li>
                </ul>
            </aside>

            <!-- Основной контент -->
            <main class="main-content">
                <section class="master-class">
                    <h1 style="margin-bottom: 20px; font-size: 26px; text-align: center;">{{ primer.title }}</h1>
                    <h2>Лекала:</h2>
                    <ul>
                        <li>Розмір 1 - <a href="{{ primer.file.url }}">завантажити</a></li>
                    </ul>
                </section>

                <section class="video">
                    <h2>Майстер-клас</h2>
                    <iframe width="330" height="315" src="{{ primer.video_url }}" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                </section>

                <section class="examples">
                    <h2>Приклади готового одягу:</h2>
                    <div class="gallery">
                        <img src="{{ primer.example.url }}" alt="Готовий одяг 1">
                    </div>
                </section>

                <section class="details1">
                    <p>{{ primer.details }}</p>
                    <p>{{ primer.summary }}</p>
                </section>

                <section class="author">
                    <h2>Автор лекал:</h2>
                    <textarea id="authorTextarea" placeholder="@"></textarea>
                </section>
                <script>
                    document.getElementById('authorTextarea').addEventListener('input', function () {
                        // Проверка, начинается ли текст с символа '@'
                        if (this.value && this.value[0] !== '@') {
                            // Добавление символа '@' в начало текста, если его нет
                            this.value = '@' + this.value;
                        }
                    });
                </script>

                <section class="comments">
                    <h2>Коментарі і питання:</h2>
                    <textarea placeholder="Залиште ваш коментар..."></textarea>
                    <button>Надіслати</button>
                </section>
            </main>
        </div>
</body>

</html>