{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- css loading -->
	<link rel="stylesheet" href="{% static 'Main_page/home_css/home.css' %}">
	<link rel="stylesheet" href="{% static 'Main_page/home_css/header.css' %}">
	<link rel="stylesheet" href="{% static 'Main_page/home_css/infobox.css' %}">
	<link rel="stylesheet" href="{% static 'Main_page/home_css/cardbox.css' %}">
	<link rel="stylesheet" href="{% static 'Main_page/home_css/conbox.css' %}">
	<link rel="stylesheet" href="{% static 'Main_page/home_css/basement.css' %}">
	<script defer src="{% static 'Main_page/home_js/menu.js' %}"></script>
</head>

<body>
	<div class="wrapper">

		<header class="header">
			<div class="header__container">
				<div class="left">
					<div class="logo_shveya"><img src="{% static 'Main_page/images/logo.png' %}" alt="logo"></div>
				</div>
				<button class="icon-menu"><span></span></button>
				<div class="right _menu">
					<nav class="menu">
						<a href="">Новини</a>
						<a href="{% url 'show_home' %}" class="{% if request.path == '/' %}active{% endif %}">Навчальний
							центр</a>
						<a href="">Донат</a>
					</nav>
					<div class="menulang">
						<button>EN</button>
						<div class="_line"></div>
						<button>UK</button>
					</div>
				</div>
			</div>

		</header>

		<div class="infobox">
			<div class="infobox__container">
				<div class="left">
					<div class="icon_shveya"><img src="{% static 'Main_page/images/iconshveya.png' %}" alt="iconshveya">
					</div>
				</div>
				<div class="right">
					<h1>Швейна рота</h1>
					<h2>Це волонтерський проєкт, який займається пошиттям
						адаптивного одягу для поранених
						захисників, захисниць України, а також цивільних,
						які постраждали внаслідок російської агресії. Наші
						зусилля спрямовані на забезпечення поранених якісним,
						комфортним і функціональним одягом, який допомагає
						зберегти гідність і полегшити реабілітацію на всіх
						етапах від евакуації до одужання.</h1>
				</div>
			</div>

		</div>
		<div class="order">
			<a href="https://docs.google.com/forms/d/e/1FAIpQLScwlcFX3jqmOrJ3oXMrcNJJS3-LgfYy5fjMlXSlSmpU6HaLaw/viewform" class="order__link">Замовити адаптивний одяг</a>
		</div>
		<div class="cardbox">
			<div class="cardbox__container">
				{% for card in cards %}
				<div class="card">
					<div class="card__top1">
						<div class="iconshveya">
							<img src="{{ card.img.url }}" alt="iconshveya">
						</div>
						<h1>{{ card.title }}</h1>
					</div>
					<div class="card__bottom">
						<p>{{ card.value }}</p>
					</div>
				</div>
				{% endfor %}
			</div> 
		</div> 

		<div class="conboxcontainer">
			<div class="conbox">
				<a href="https://www.google.com" class="left">
					<h1>Матеріали для пошиття</h1>
				</a>		
				<div class="column"></div>
				<a href="https://www.google.com" class="right">
					<h1>Інструкції для пошиття</h1>
				</a>
			</div>
		</div>
		
		<div class="cardbox">
			<div class="cardbox__container">
				<!-- Карточка 1 -->
				<div class="card">
					<div class="card__top1">
						<div class="iconshveya">
							<img src="{% static 'Main_page/icons_cards/short1.png' %}" alt="iconshveya">
						</div>
						<h1>одиниць адаптивного одягу</h1>
					</div>
					<div class="card__bottom">
						<p>100 000</p>
					</div>
				</div>
				
				<!-- Карточка 2 -->
				<div class="card">
					<div class="card__top">
						<div class="iconshveya">
							<img src="{% static 'Main_page/icons_cards/Score.png' %}" alt="iconshveya">
						</div>
						<h1>Волонтерів</h1>
					</div>
					<div class="card__bottom">
						<p> 700+</p>
					</div>
				</div>
				
				<!-- Карточка 3 -->
				<div class="card">
					<div class="card__top">
						<div class="iconshveya">
							<img src="{% static 'Main_page/icons_cards/expert1.png' %}" alt="iconshveya">
						</div>
						<h1>Лекала та майстер-класи</h1>
					</div>
					<div class="card__bottom">
						<p>100+</p>
					</div>
				</div>
			</div> 
		</div> 

		<div class="infobox">
				<div class="infobox__container1">
					<h1>Масштаб діяльності:</h1>
					<h2>
							   Ми діємо як в Україні, так і за кордоном, постачаючи адаптивний одяг у
							реабілітаційні центри Швеції, Данії, Польщі, Німеччини тощо.<br>
							   Залучаємо українців за кордоном до волонтерської діяльності, що
							допомагає підтримувати зв’язок із батьківщиною.<br>
							   Першими створили унікальні моделі: адаптивні худі, жіночу адаптивну
							білизну та інший одяг, який враховує потреби поранених.
					</h2>
				</div>
		</div>
		
	</div>
</body>

</html>
